<div class="container mt-3">
  <h2>Hi, <%= current_user.username %></h2>

  <br>

  <% if current_user.warehouses.empty? %>
    <p>Please add a warehouse</p>
    <br>
    <%= link_to "Add Warehouse", new_warehouse_path, class: "login" %>
  <% else %>
    <h3><%= current_user.company %> Warehouses</h3>
    <div class="cards">
      <% current_user.warehouses.each do |warehouse| %>
        <%= link_to warehouse_path(warehouse) do %>
          <div class="card">
            <div class="card-trip">
              <%= cl_image_tag warehouse.photo.key %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= warehouse.name %></h2>
                  <p><%= warehouse.street_address %></p>
                </div>
                <h2 class="card-trip-pricing"><%= warehouse.city %>, <%= warehouse.country %></h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
