<div class="container mt-3">
  <h2>Edit <%= @item.name %></h2>

  <%= simple_form_for(@item) do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :quantity, required: true %>
    <%= f.input :description, required: true %>
    <%= f.association :warehouse, value_method: :id, collection: current_user.warehouses, include_blank: false %>
    <%= f.input :photo, as: :file, required: true %>
    <div class="form-actions">
      <%= f.button :submit, "Update", class: "login" %>
    </div>
  <% end %>
</div>
