<div class="container mt-3">
  <h2>Create a new item</h2>

  <%= simple_form_for(@item) do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :quantity, required: true %>
    <%= f.input :description, required: true %>
    <%= f.association :warehouse, include_blank: false, collection: current_user.warehouses, input_html: { autocomplete: "warehouse", value: current_user.warehouses.first } %>
    <%= f.input :photo, as: :file, required: true %>
    <div class="form-actions">
      <%= f.button :submit, "Create", class: "login" %>
    </div>
  <% end %>
</div>
