<div class="container mt-3">
  <h2><%= @item.name %></h2>
  <div class="edit">
    <%= link_to edit_item_path(@item) do %>
      <i class="far fa-edit"></i>
    <% end %>
    <%= link_to item_path(@item), method: :delete, data: { confirm: "Are you sure you want to delete #{@item.name}?"} do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
  <%= cl_image_tag @item.photo.key %>
  <p>Warehouse: <%= @item.warehouse.name  %>, <%= @item.warehouse.street_address  %>, <%= @item.warehouse.city  %>, <%= @item.warehouse.country  %></p>
  <p>Description: <%= @item.description %></p>
  <p>In Stock: <%= @item.quantity %></p>
  <%= link_to sanitize("<i class='fas fa-arrow-alt-circle-left'></i>"), @item.warehouse, class: "back-btn m-2"%>
</div>
