<div class="container mt-3">
  <h2>Create New Warehouse</h2>

  <%= simple_form_for(@warehouse) do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :street_address, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :postal_code, required: true %>
    <%= f.input :country, required: true %>
    <%= f.input :photo, as: :file, required: true %>
    <div class="form-actions">
      <%= f.button :submit, "Create", class: "login" %>
    </div>
  <% end %>
</div>
