<div class="container">
  <h2><%= @warehouse.name %></h2>

  <h3>Address</h3>
  <p><%= @warehouse.street_address%></p>
  <p><%= @warehouse.city%></p>
  <p><%= @warehouse.postal_code%></p>
  <p><%= @warehouse.country%></p>

  <h3>Items</h3>
</div>
