<div class="container mt-3">
  <h2><%= @warehouse.name %></h2>

  <div class="edit">
    <%= link_to edit_warehouse_path(@warehouse) do %>
      <i class="far fa-edit"></i>
    <% end %>
    <%= link_to warehouse_path(@warehouse), method: :delete, data: { confirm: "Are you sure you want to delete #{@warehouse.name}?"} do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>

  <h3>Address</h3>
  <p><%= @warehouse.street_address%></p>
  <p><%= @warehouse.city%></p>
  <p><%= @warehouse.postal_code%></p>
  <p><%= @warehouse.country%></p>

  <h3>Items</h3>
</div>
